node_modules
dist
.DS_Store
coverage
*.log
.rslint-cache
# temp_book

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
test-results
stitch_spirewalker_cyber_gothic_combat_ui
